p,
.header {
  margin: 0;
  padding: 0 1rem;
}

.bare-text {
  break-before: avoid;
  break-after: auto;
}

.para-tool {
  float: right;
  font-family: monospace;
  font-size: 0.8em;
  color: #ffffff;
  background-color: #000000;
  padding: 2px;
}

.usfm-p,
.usfm-m,
.usfm-q,
.usfm-q1 {
  font-size: 1rem;
  padding-bottom: 18pt;
}

.usfm-q,
.usfm-q1 {
  padding-left: 1em;
}

.usfm-c {
  font-size: 1.7em;
  font-weight: 900;
}

.usfm-v {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
  font-weight: 600;
  margin-left: 0.5em;
  margin-right: 0.5em;
  break-after: avoid;
}

.usfm-mt {
  font-weight: 700;
  font-size: 2em;
}

.usfm-s {
  font-size: 1.2em;
  font-weight: bold;
}
.usfm-s2 {
  font-size: 1.2em;
  font-style: italic;
}
.usfm-add {
  font-style: italic;
}
.usfm-pn {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.usfm-png {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.usfm-unknown {
  color: red;
  background-color: yellow;
}
